{% extends 'ecom/main.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<h1>Edit Shop {{id}} </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary btn-sm" value=""> Save</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <h1>
 <a href=" {% url 'login' %} ">Please, Login</a> </h1>
 {% endif %}
{% endblock content %}