<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    

    <title>Ecommerce</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href=" {% url 'ecom' %} ">Ecom</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href=" {% url 'category' %} ">Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=" {% url 'product' %} ">Products</a>
              </li>  
            </ul>

            <div class="collapse navbar-collapse" style="color:red;" id="navbarText">
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
                
          
                {% else %}
          
                <li class="nav-item">
                  <a class="nav-link" href="/login"> <span style="color:Green;">Login</span> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'register' %} "><span style="color:skyblue;">Register</span></a>
                </li>
          
                {% endif %}
              </ul>
            </div>
            
            {% if user.is_authenticated %}
            <form method="get">

            <div style="padding-right: 20px; text-align: center;">
                <input name='q' type="text" placeholder="Enter Title" style="border-radius: 5px; ">
            </div>
            
            <div class="form-inline my-2 my-lg-0">
                <button type='submit' >Search</button>
            </div>
        </form>
            {% endif %}     
           
          </div>
        </div>
      </nav>
    
    <div class="container">

        {% block content %}
        {% endblock content %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>